@model IEnumerable<AwesomeAdminsPartyManager.Models.Party>

@{
    ViewData["Title"] = "Index";
}

<h1>All parties</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container-fluid">
	<div class="row gy-5 row-cols-auto">
		@foreach(var party in Model) {
			<div class="col">
				<div class="card h-100">
					<h2 class="card-header">@party.Name</h2>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">ID: @party.PartyId</li>
						<li class="list-group-item">Description: @party.Description</li>
						<li class="list-group-item">Date Created: @party.Created</li>
					</ul>
					<a class="card-footer btn" asp-action="Details" asp-route-id="@party.PartyId">View Details</a>
				</div>
			</div>
		}
	</div>
</div>
